body
  font: 15px/1.5 Arial, Helvetica,sans-serif
  padding: 0
  margin: 0
  background-color: #f4f4f4

.container
  width: 80%
  margin: auto
  overflow: hidden

ul
  margin: 0
  padding: 0

.button_1
  height: 38px
  background: #967D4E
  border: 0
  padding-left: 20px
  padding-right: 20px
  color: #ffffff

.dark
  padding: 15px
  background: #35424a
  color: #ffffff
  margin-top: 10px
  margin-bottom: 10px

header
  background: #35424a
  color: #ffffff
  padding-top: 30px
  min-height: 70px
  border-bottom: #967D4E 3px solid
  a
    color: #ffffff
    text-decoration: none
    text-transform: uppercase
    font-size: 16px
  li
    float: left
    display: inline
    padding: 0 20px 0 20px
  #branding
    float: left
    h1
      margin: 0
  nav
    float: right
    margin-top: 10px
  .highlight, .current a
    color: #967D4E
    font-weight: bold
  a:hover
    color: #cccccc
    font-weight: bold

#showcase
  min-height: 400px
  background: #BAB3A3 url('../images/showcase.jpg') no-repeat 0 -400px
  text-align: center
  color: #ffffff
  h1
    margin-top: 100px
    font-size: 55px
    margin-bottom: 10px
  p
    font-size: 20px

#newsletter
  padding: 15px
  color: #ffffff
  background: #35424a
  h1
    float: left
  form
    float: right
    margin-top: 15px
  input[type="email"]
    padding: 4px
    height: 25px
    width: 250px

#boxes
  margin-top: 20px
  .box
    float: left
    text-align: center
    width: 30%
    padding: 10px
    img
      width: 90px

aside#sidebar
  float: right
  width: 30%
  margin-top: 10px
  .quote
    input, textarea
      width: 90%
      padding: 5px

article#main-col
  float: left
  width: 65%

ul#services li
  list-style: none
  padding: 20px
  border: #cccccc solid 1px
  margin-bottom: 5px
  background: #e6e6e6

footer
  padding: 20px
  margin-top: 20px
  color: #ffffff
  background-color: #967D4E
  text-align: center

.footertwo
  padding: 20px
  margin-top: 21%
  color: #ffffff
  background-color: #967D4E
  text-align: center

.footerthree
  padding: 20px
  margin-top: 9.3%
  color: #ffffff
  background-color: #967D4E
  text-align: center

@media (max-width: 768px)
  header
    #branding
      float: none
      text-align: center
      width: 100%
    nav
      float: none
      text-align: center
      width: 100%
      li
        float: none
        text-align: center
        width: 100%
  #newsletter
    h1, form
      float: none
      text-align: center
      width: 100%
  #boxes .box, article#main-col, aside#sidebar
    float: none
    text-align: center
    width: 100%
  header
    padding-bottom: 20px
  #showcase h1
    margin-top: 40px
  #newsletter button, .quote button
    display: block
    width: 100%
  #newsletter form input[type="email"]
    width: 100%
    margin-bottom: 5px
  .quote
    input, textarea
      width: 100%
      margin-bottom: 5px